[Desktop Entry]
Type=Application
Name=CSV File Inspector
Categories=GTK;GNOME;UtilitY;
Exec=gnome-terminal -- /home/Path/To/Folder/File/csv_insp.sh
Icon=/home/Path/To/Folder/File/csv_insp.png
Path=/home/Path/To/Folder/File/csv_insp
Terminal=false
